.sticky-header {
    background: #1a1a1a;
    padding: 7.5px 15px;
    position: relative;
    z-index: 5;
}

.container--sticky-header {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr -webkit-max-content;
    grid-template-columns: 1fr max-content;
    grid-template-rows: 50px;
}
.container--sticky-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    max-width: 1280px;
    max-width: 80rem;
    position: relative;
    width: 100%;
    margin-top: 26px;
}
.sticky-header__logo {
    -ms-flex: 0 1 auto;
    -webkit-box-flex: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex: 0 1 auto;
    line-height: 0;
    margin-top: auto;
    max-height: 100%;
    max-width: 100%;
}
.sticky-header__logo img {
    max-height: 28.8px;
    max-height: 1.8rem;
}
.sticky-header__nav{
  margin-top: 10px;
  margin-left: 20px
}
.sticky-header__link {
    line-height: 0;
    vertical-align: baseline;
}
.sticky-header__navlist {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: end;
    display: grid;
    grid-auto-columns: -webkit-min-content;
    grid-auto-columns: min-content;
    grid-auto-flow: column;
    grid-gap: 20px;
    grid-template-rows: auto;
    margin-right: 750px;
}
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.sticky-header__navitem {
  margin-left: 0;
  line-height: 1;
}

.fonts-loaded .sticky-header__navitem a {
    font-display: fallback;
    font-family: Roboto Condensed,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.sticky-header__navitem a {
    color: #fff;
    font-size: 1.1875rem;
    font-weight: 700;
    position: relative;
    text-decoration: none;
}
.sticky-header__controls {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    display: grid;
    grid-auto-columns: -webkit-max-content;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    grid-gap: 15px;
}

.sticky-header__controls>* {
    margin-left: 0;
}

.field-container--inline {
    -ms-flex-preferred-size: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-basis: 100%;
}
.sticky-header .field-container--inline {
    border: 1px solid #000;
}
.field-container--inline .btn, .field-container--inline button, .field-container--inline input[type=submit] {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: auto;
}
.sticky-header input {
    background: #4d4d4d;
    border: none;
    color: #fff;
}
input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    appearance: none;
    border: 1px solid #b3b3b3;
    border-radius: 0;
    box-shadow: none;
    display: inline;
    max-width: 100%;
    padding: 7.5px .65rem;
    width: 100%;
}

input {
    line-height: normal;
}
.search-submit {
    min-width: 34px;
    padding: 7.5px;
}

.btn, .btn--block, .btn--cta, .btn--cta--large, .btn--cta--small, .btn--disabled, .btn--large, .btn--small, .btn[disabled], button, input[type=submit] {
    -webkit-font-smoothing: antialiased;
    -webkit-transition: background .15s 0;
    background: #333;
    border: 0;
    border-radius: 0;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    padding: 7.5px;
    position: relative;
    text-align: center;
    transition: background .15s 0;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.row:not(.row--header) {
    z-index: 1;
}
.row {
    background: #fff;
}
.container {
  padding: 30px 15px;
  -ms-flex-flow: row wrap;
  -ms-flex-line-pack: start;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  align-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
  max-width: 1280px;
  max-width: 80rem;
  position: relative;
}
.row--hero .container>*, .section-title, .view-carousels-and-sliders-block-2, .view-carousels-and-sliders-block-4 {
    -ms-flex: 1 0 100%;
    -webkit-box-flex: 1;
    flex: 1 0 100%;
    min-width: 0;
}
.section-title {
    margin-bottom: 0;
    -webkit-font-smoothing: antialiased;
    color: grey;
    display: block;
    line-height: 1;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}
.section-title__headline {
    display: inline-block;
    font-size: 3.5rem;
    margin-top: 0;
    padding: 0 7.5px 0 0;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 0;
}
h1 {
    font-size: 32px;
    font-size: 2rem;
    line-height: 1.2;
    margin: 0 0 15px;
}
.primary {
    margin-right: 30px;
    padding-right: 30px;
    -webkit-box-direction: normal;
    -webkit-box-flex: 1;
    -webkit-box-orient: horizontal;
    align-content: flex-start;
    border-right: 1px solid #e6e6e6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex: 1 1 0px;
    flex-flow: row wrap;
    min-width: 0;
    word-wrap: break-word;
}
.primary>* {
    width: 100%;
}
.layout-item {
    display: block;
    max-width: 100%;
}
.row--hero .container>*, .section-title, .view-carousels-and-sliders-block-2, .view-carousels-and-sliders-block-4 {
    -ms-flex: 1 0 100%;
    -webkit-box-flex: 1;
    flex: 1 0 100%;
    min-width: 0;
}
.carousel {
    -ms-flex: 1 0 100%;
    -webkit-box-flex: 1;
    display: block;
    flex: 1 0 100%;
    overflow-x: hidden;
    position: relative;
}
.slick-list, .slick-slider {
    display: block;
    position: relative;
}
.slick-slider {
    -moz-user-select: none;
    -ms-touch-action: pan-y;
    -ms-user-select: none;
    -webkit-box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    box-sizing: border-box;
    touch-action: pan-y;
    user-select: none;
}
.layout-item+.layout-item {
    margin-top: 30px;
}
.two-up {
    -ms-flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.two-up {
    width: 100%;
}
.layout-item {
    display: block;
    max-width: 100%;
    width: 100%;
}
.two-up>:nth-of-type(odd) {
    margin-left: 0;
}
.subprime--a {
    -ms-flex-preferred-size: calc(60% - 15px);
    flex-basis: calc(60% - 15px);
}
.subprime--a {
    overflow: hidden;
}
.two-up>* {
    -ms-flex-negative: 0;
    -ms-flex-positive: 0;
    -ms-flex-preferred-size: calc(50% - 15px);
    -webkit-box-flex: 0;
    flex-basis: calc(50% - 15px);
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 15px;
    min-width: 0;
}
.layout-item {
    display: block;
    max-width: 100%;
    width: 100%;
}
.layout-item>h2:first-child {
    margin-top: 0;
}
.subsection-title {
    margin-bottom: 15px;
    margin-top: 22.5px;
    font-size: 1.5rem;
        color: #d40016;
}
[class*=view-article-lists], [class*=view-article-lists]>*, [class*=view-nodequeue-], [class*=view-nodequeue-]>*, [class*=view-nodequeue-lists], [class*=view-nodequeue-lists]>* {
    width: 100%;
}
.headline-list, .item-list {
    list-style: none;
    margin: 0;
    min-width: 0;
}
.headline-list>li:first-child, .item-list>li:first-child {
    border-top: 0;
    padding-top: 0;
}
.headline-list>li, .item-list>li {
    border-top: 1px solid #e6e6e6;
    min-width: 0;
    padding: 15px 0;
}
.headline-list>li>:not([class^=box]), .item-list>li>:not([class^=box]) {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
}
.media--var {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.media--var {
    -ms-flex-flow: row nowrap;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    flex-flow: row nowrap;
}
.media--var .media__icon {
    -ms-flex-preferred-size: 12rem;
    flex-basis: 12rem;
}
.media--var .media__icon {
    -ms-flex-order: 2;
    -webkit-box-ordinal-group: 3;
    margin-bottom: 0;
    order: 2;
    padding-left: 30px;
    padding-right: 0;
}
.media__icon {
    -ms-flex: 0 0 160px;
    -webkit-box-flex: 0;
    flex: 0 0 160px;
    margin-bottom: 7.5px;
    padding-left: 0;
    padding-right: 0;
}
.media__icon {
    -ms-flex: 0 0 130px;
    -ms-flex-order: 2;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 3;
    flex: 0 0 130px;
    line-height: 0;
    margin: 0;
    min-width: 0;
    order: 2;
    padding-left: 15px;
    padding-right: 0;
}
a {
    color: #37588a;
    text-decoration: none;
}
.media__icon img {
    max-width: 100%;
}
img, object, svg, video {
    height: auto;
    max-width: 100%;
}
.media__body {
    display: block;
}
.media__body {
    -ms-flex: 1 1 auto;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
}
.fonts-loaded .media__headline, .fonts-loaded .view-article-lists-block-6 h2, .view-article-lists-block-6 .fonts-loaded h2 {
    font-display: fallback;
    font-family: Roboto Condensed,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.media__body>:first-child {
    margin-top: 0;
    padding-top: 0;
}
.media__headline, .view-article-lists-block-6 h2 {
    font-size: 1.3125rem;
}
.media__headline, .view-article-lists-block-6 h2 {
    margin-bottom: 7.5px;
}
h1, h2, h3 {
    line-height: 1.2;
}
.media__body>:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}
.byline {
  text-transform: uppercase;
  font-size: .75em;
  font-style: normal;
  font-weight: 700;
  color: #666;
  margin: 0;
}
p {
    margin: 15px 0;
    width: 100%;
}

.byline a {
    color: inherit;
}
a {
    color: #37588a;
    text-decoration: none;
}
.byline--article .highwire-citation-access:not(:only-child), .byline--article time:not(:only-child), .byline--simple .highwire-citation-access:not(:only-child), .byline--simple time:not(:only-child), .byline .highwire-citation-access:not(:only-child), .byline time:not(:only-child) {
    margin-left: 7.5px;
    padding-left: 7.5px;
}
.byline--article .highwire-citation-access:not(:only-child), .byline--article time:not(:only-child), .byline--simple .highwire-citation-access:not(:only-child), .byline--simple time:not(:only-child), .byline .highwire-citation-access:not(:only-child), .byline time:not(:only-child) {
    border-left: 1px solid #666;
    margin-left: 6px;
    padding-left: 7.5px;
}
.byline--article .highwire-citation-access, .byline--article time, .byline--simple .highwire-citation-access, .byline--simple time, .byline .highwire-citation-access, .byline time {
    white-space: nowrap;
}
.media__body:after {
    clear: both;
    content: "";
    display: table;
}
.headline-list>li:after, .item-list>li:after {
    clear: both;
    content: "";
    display: table;
}
.headline-list>li:after, .item-list>li:after {
    clear: both;
    content: "";
    display: table;
}
p:last-child {
    margin-bottom: 0;
}
.btn--block {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    display: block;
    flex: 0 0 auto;
    width: 100%;
}
.btn--block, .btn--large, .btn--small {
    padding: 7.5px;
}
.two-up>:nth-of-type(2n) {
    margin-right: 0;
}
.subprime--b {
    -ms-flex-preferred-size: calc(40% - 15px);
    flex-basis: calc(40% - 15px);
    margin-top: 0;
}
.article__body .subprime--b .boxed-text, .subprime--b .article__body .boxed-text, .subprime--b .box-standout, .subprime--b .promobox {
    margin-top: 33px;
}
.article__body .boxed-text, .box--standout, .box-standout, .promobox {
    background: #e6e6e6;
    outline: 1px solid #e6e6e6;
    padding: 15px;
}
.article__body .boxed-text:first-child, .article__body .boxed-text>:first-child, .box--standout:first-child, .box--standout>:first-child, .box-standout:first-child, .box-standout>:first-child, .promobox:first-child, .promobox>:first-child {
    margin-top: 0;
}